@charset "utf-8";
// --------------
// Scss변수
// --------------
// 폰트
//$nnSquare: "Nanum Square", "NanumSquare", Dotum, Sans-serif;
$font-stack: "Nanum Gothic", Dotum, Sans-serif;
//$font-stack: "NanumSquareRound", Dotum, Sans-serif;
$font-nnGothic: "Nanum Gothic", Dotum, Sans-serif;
$font-nnSquareR: "NanumSquareRound", Dotum, Sans-serif;
$font-ntss: "Noto Sans KR", Dotum, Sans-serif;
$font-dt: Dotum, Sans-serif;
$header-ht: 40px;

$contents-minwth: 1695px;

// 색상
$primary-color: #111;

// 네비게이션 컬러
$fg-gnb: #afafaf;
$fg-gnb-hover: #c0b09d;