<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/main/init.css">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../public/js/w3_inc.js"></script>
    <script src="../../public/js/common.js"></script>
</head>
<body class="page-name">
    
    <header id="header" class="header" include-html="../include/header.html"></header>
    <div id="contents" class="contents">
        <div class="cont">
            <section class="sec visual">비쥬얼</section>
            <section class="sec intro">소개</section>
            <section class="sec notice">공지</section>
        </div>
    </div>
    <footer id="footer" class="footer" include-html="../include/footer.html"></footer>

    
</body>
</html>